# ignored files
*~
*.bak
windows*
db/
incremental_db/
demo_batch/
.*

de2i_150_qsys/
!de2i_150_qsys/synthesis/de2i_150_qsys.qip
!de2i_150_qsys/synthesis/de2i_150_qsys.v


de2i_150_qsys_pcie*

!de2i_150_qsys_pcie.qpf
!de2i_150_qsys_pcie.qsf
!de2i_150_qsys_pcie.sdc
